.App {
  margin-top: 2.5rem;
}
.heading{
  letter-spacing:1rem;
  /* text-align: center; */
  position: fixed;
  top:.5rem;
  left: 37rem;
  /* bottom:102rem; */
}
@media(max-width:500px){
  .heading{
    top:2.5rem;
    left:4rem;
    
    
  }
}
